[Unit]
Description=odom ros from mqtt launcher
After=mosquitto.service ros_roscore.service
Requires=mosquitto.service ros_roscore.service

[Service]
User=amsl
ExecStart=/usr/bin/screen -S odom_converter -ADm bash -l -c 'rosrun sq2_ccv2 odom_converter'
Type=simple
Restart=always
RestartSec=1s

[Install]
WantedBy=multi-user.target
