<?xml version="1.0"?>
<launch>
    <arg name="rviz" default="true" />
    <!-- tf -->
    <!-- <param name="robot_description" -->
    <!--     command="$(find xacro)/xacro '$(find sq2_ccv_description)/robot/sq2_ccv.urdf'"/> -->
    <!-- <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true"> -->
    <!--     <param name="publish_frequency" value="200.0" /> -->
    <!-- </node> -->
    <include file="$(find sq2_ccv2)/launch/ccv2_tf.launch"/>

    <!-- vehicle  -->
    <include file="$(find sq2_ccv2)/launch/sq2_ccv2_vehicle.launch"/>
    <!-- sq lidar -->
    <!-- <include file="$(find sq_lidar)/launch/sq_lidar.launch"> -->
    <!--     <arg name="ip_address0" default="192.168.0.173" /> -->
    <!--     <arg name="ip_address1" default="192.168.0.174" /> -->
    <!--     <arg name="ip_address2" default="192.168.0.175" /> -->
    <!--     <arg name="tty_turntable" value="/dev/turntable-t-frog"/> -->
    <!-- </include> -->
    <!-- <include file="$(find sq2_common)/launch/include/point_cloud_store.xml"/> -->
    <!-- <include file="$(find sq2_common)/launch/include/cloud2scan.xml"/> -->

    <!-- velodyne -->
    <include file="$(find velodyne_pointcloud)/launch/32e_points.launch">
        <arg name="device_ip" value="192.168.0.118"/>
        <arg name="rpm" value="600"/>
    </include>

    <!-- <!&#45;&#45; camera &#45;&#45;> -->
    <include file="$(find sq2_ccv2)/launch/ccv2_realsense.launch"/>
    <!--  -->
    <!-- imu&odom converter -->
    <include file="$(find sq2_ccv2)/launch/ros_from_mqtt.launch"/>
    <!--  -->
    <!-- <node name="odom_complement" pkg="complement" type="complement"> -->
    <!--     <remap from="odom" to="t_frog/odom"/> -->
    <!-- </node> -->
   <!-- teleop -->
    <include file="$(find sq2_ccv2)/launch/ccv2_teleoplate.launch">
    </include>
    <!-- dynamixel -->
    <include file="$(find ccv_dynamixel_controller)/launch/ccv_dynamixel_controller.launch"/>

    <!-- rviz -->
    <node pkg="rviz" name="rviz" type="rviz" args="-d $(find steering_path_planner)/config/ccv2.rviz" if="$(arg rviz)"/>
   <!--  -->
</launch>
