<?xml version="1.0"?>

<launch>
    <node pkg="ypspur_ros" type="ypspur_ros" name="t_frog" respawn="true">

        <remap from="/cmd_vel" to="/cmd_vel" />
        <remap from="~/odom" to="/odom" />

        <param name="base_link_id" value="base_link" />

        <param name="odom_id" value="odom" />

        <param name="param_file" value="$(find sq2_ccv2)/config/sq2_ccv2.param" />

        <param name="port" value="/dev/T_Frog"/>

        <param name="hz" value="50.0" />
        <param name="ipc_key" value="28742" />
    </node>
</launch>
